#top-bar {
  /* border: 1px solid red; */
  width: 100%;
  height: 80px;
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
}
nav li {
  display: inline-block;
  margin-right: 4px;
}
nav a {
  color: #968c84;
  display: inline-block;
  padding: 6px 70px 6px 70px;
  background-color: #f5f5f5;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 15px;
}
.current {
  background-color: #ffad33;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#first-h2 {
  margin-left: 182px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  line-height: 1px;
}
.bottom-div {
  /* border: 1px solid violet; */
  width: 100%;
  height: auto;
  display: flex;
}
#div-items {
  /* border: 1px solid red; */
  width: 56.7%;
  height: 90%;
  margin-left: 181px;
}
#div-summary {
  /* border: 1px solid blue; */
  width: 18%;
  margin-left: 12px;
  height: 500px;
  margin-top: 35px;
  background-color: #fafafa;
}
.top {
  /* border: 1px solid brown; */
  width: 840px;
  height: 25px;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}
#first {
  /* border: 1px solid green; */
  width: 100px;
  margin-left: 22px;
  color: grey;
}
#second {
  /* border: 1px solid green; */
  width: auto;
  margin-left: 420px;
  color: grey;
}
#third {
  /* border: 1px solid green; */
  width: auto;
  margin-left: 70px;
  color: grey;
}
#fourth {
  /* border: 1px solid green; */
  width: auto;
  margin-left: 60px;
  color: gray;
}
.bottom {
  border: 1px solid #f2f2f2;
  width: 840px;
  height: auto;
  margin-left: 2px;
  margin-top: 5px;
  padding: 10px 0px 0px 12px;
}
#ware {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#image {
  height: 100px;
}
td {
  border: 1px solid #d3cece;
}

h2 {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 12px;
}
#sub-total {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: -25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #666666;
}
#discount {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: -35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #666666;
}
#total {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: -35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #666666;
}
#sum-price {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #ffad33;
}
#promo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #666666;
  padding: 12px;
  margin-top: -45px;
}
#paypal-image {
  width: 260px;
  height: 100px;
  margin-left: 5px;
  margin-top: -12px;
}
#debit-image {
  width: 260px;
  margin-left: 5px;
  margin-top: -38px;
}
#or {
  margin-left: 120px;
  margin-top: -15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #666666;
  font-size: 13px;
}
#checkout {
  width: 250px;
  height: 60px;
  margin-left: 10px;
  border-radius: 10px;
}
button {
  height: 35px;
  width: 178px;
  margin-top: 15px;
  font-size: small;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #fafafa;
  text-decoration: none;
  margin-left: 4px;
}
button > a {
  text-decoration: none;
  color: grey;
}
.ul {
  list-style: square;
  color: #666666;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin-left: -16px;
  line-height: 20px;
}
#imgend {
  /* border: 1px solid red; */
  width: 1200px;
}
.imgendbox {
  width: 1500px;
  height: 130px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#imgendbox {
  height: 130px;
  width: 1400px;
  /* border: 1px solid red; */
  display: flex;
  gap: 5px;
  margin: auto;
}
#imgendbox > img {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
#divbtn {
  /* border: 1px solid red; */
  /* width: ; */
  height: 42px;
  display: flex;
  margin-left: 15px;
}
#btn1 {
  width: 22px;
  height: 25px;
  cursor: pointer;
  /* padding: 0px 16px 0px 16px; */
  border: 1px solid grey;
  border-radius: 0px;
  font-weight: bold;
}
#btn1:hover {
  background-color: #ffad33;
  color: white;
  transition-duration: 0.4s;
}
#btn2:hover {
  background-color: #ffad33;
  color: white;
  transition-duration: 0.4s;
}

#btn2 {
  width: 22px;
  height: 25px;
  cursor: pointer;
  /* padding: 0px 19px 0px 16px;     */
  border: 0.5px solid grey;
  border-radius: 0px;
  font-weight: bold;
}
#h3 {
  font-weight: lighter;
  /* border: 0.5px solid grey; */
  width: 33px;
  height: 25px;
  text-align: center;
  margin-bottom: -px;
}
.main-carousel {
  /* border: 1px solid red; */
  display: flex;
  width: 1000px;
  margin-left: 200px;
  margin-top: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
}
.carousel-cell img {
  /* border: 1px solid blue; */
  padding: 30px;
  border-radius: 12px;
  width: 110px;
  height: 110px;
  margin-left: 10px;
  cursor: pointer;
}
.carousel-cell p {
  /* border: 1px solid green; */
  margin-left: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.carousel-cell h2 {
  font-weight: bold;
  color: #ffad33;
  cursor: pointer;
}
h4 {
  /* border: 1px solid; */
  margin-left: 11px;
  margin-top: -10px;
  font-weight: lighter;
  color: grey;
  text-decoration: line-through;
}
#removebtn:hover {
  background-color: rgb(255, 3, 3);
  color: white;
  transition-duration: 0.4s;
}
